# Игнорировать папку vendor (если используется Composer)
vendor/

# Игнорировать файлы окружения
.env

# Игнорировать папку node_modules (если используется npm)
node_modules/

# Игнорировать системные файлы
.DS_Store